<!DOCTYPE html>
{{> components/ascii }}
<html lang="en">
	<head>
		{{> components/head }}
	</head>
	<body>
		<!-- {{> components/loading }} -->
		<img class="background-image" src="../assets/image-website.jpg" />

		<div class="all">
			{{> components/nav }}
			<!-- <div class="socials">
				<div class="triangle"><img src="../assets/arrow-01.png"/></div>
				<br /><br />
				<div class="triangle"><img src="../assets/arrow-01.png"/></div>
			</div> -->
			{{> arena }}
			<div class="footer">{{config.details.footer}}</div>
		</div>
		{{> components/body-end }}
	</body>
</html>
